@import '~@angular/material/theming';
$primary: mat-palette($mat-indigo);

footer {
    padding: 1rem 0;
    background-color: mat-color($primary);
    color: white;
    text-align: center;
    height: 2rem;
}