<mat-list>
    <mat-list-item>
      <mat-icon matListIcon>language</mat-icon>
      <h3 matLine> World </h3>
      <p matLine>
        <span> New confirmed: </span>
        <span>{{ data?.Global?.NewConfirmed }}</span>
      </p>
    </mat-list-item>
    <mat-list-item *ngFor="let country of data?.Countries">
      <h3 matLine>{{ country.Slug }}</h3>
      <p matLine>
        <span> New confirmed: </span>
        <span>{{ country.NewConfirmed }}</span>
      </p>
   </mat-list-item>
</mat-list>
